<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HZ HQ</title>
  </head>
  
  <body>

    <h1>Welcome to my portfolio website!</h1>
    <h2>I am a software engineer driven by the determination to succeed via perseverance through every problem until a solution can be reached by either myself or my team and I working together as one. 
        I am passionate about continuously learning from and teaching others both in and outside of the workplace on a daily basis, pushing me to new roles as I gain new experience. 
        I believe anything can be achieved with the humility to seek knowledge of others and the dedication to never give up no matter how intimidating a problem or task may seem. 
        Thank you for taking the time to peruse my portfolio. If you have any questions, comments, concerns, or suggestions, please use the contact information provided below.</h2>
    <br>
    <div>
    <a href="https://www.linkedin.com/in/amari-james/" target="_blank">Linkedin</a>
    <a href="https://github.com/marjames98" target="_blank">Github</a>
    </div>
    <br>
    <br>

    <hr>

    <br>
    <br>
    <div>
    <h3>HZ Frequencies Application</h3>
    <button onclick="window.open('https://github.com/marjames98/hzfreq_app', '_blank');">view here</button>
    <p>Website application to find all hertz frequencies and their properties as well as links to listen to them. Built using Express, Node.js, JS, and HTML. </p>
    <br>
    <h4>Marijuana Application</h4>
    <button onclick="window.open('https://github.com/marjames98/projectfourOUID', '_blank');">view here</button>
    <p>Website application on marijuana strains and information. Built using Express, Node.js, mongoDB, JS, and HTML. Attempt at API routing. Under constant construction due to errors in API call.</p>
    <br>
    <h5>Tattoo Application</h5>
    <button onclick="window.open('http://irezumi-tattoo.herokuapp.com/', '_blank');">view here</button>
    <p>Team Project. Full-stack application to find tattoo inspiration as well as local tattoo shops, both of which can be saved and added to a user profile for future use. Additionally, users can see tattoos they are interested in on a hypothetical body part of their choosing. Built using mongoDB, React, Axios, Cloudinary and Bootstrap Styling, as well as API routing.  Deployed and hosted on Heroku. </p>
    </div>

    <style>

    p {
        text-align: center;
        font-size: 17px;
    }    

    button {
        width: 80px;
        height: 50px;
    }    

    img {
        width: 80px;
        height: 50px;
    }    

    div {
        text-align: center;
        font-size: large;
    }    

    a {
        color: white;
    }

    h1 {
        text-align: center;
        font-size: xx-large;
    }

    h2 {
        text-align: center;
        font-size: medium;
    }

    h3 {
        font-size: medium;
        text-align: center;
    }

    h4 {
        font-size: medium;
        text-align: center;
    }

    h5 {
        font-size: medium;
        text-align: center;
    }

    </style>

    </body>

</html>