<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AJ PORTFOLIO</title>
    <link rel = "icon" href =  
"https://inteng-storage.s3.amazonaws.com/img/iea/nR6bkXZxwo/sizes/software-engineering-skills_resize_md.jpg" 
        type = "image/x-icon">
  </head>
  
  <body>

    <style>
      body {
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        color: whitesmoke;
        background-image: url("https://images.unsplash.com/photo-1591511462188-8fc2f58eb33e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnwyNDQ5MzM5fHxlbnwwfHx8&w=1000&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
      }
      .footer {
        background-color: lightseagreen;
        color: white;
        text-align: center;
        position: relative;
        margin-top: 2.3%;
      }
    </style>
    <%- body %>
    <div class="footer">
      <u>PORTFOLIO WEBSITE | AMARI JAMES | 2021</u>
    </div>
  </body>
  
</html>