<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AJ PORTFOLIO</title>
    <link rel = "icon" href =  
"https://inteng-storage.s3.amazonaws.com/img/iea/nR6bkXZxwo/sizes/software-engineering-skills_resize_md.jpg" 
        type = "image/x-icon">
  </head>
  
  <body>

    <style>
      body {
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        color: whitesmoke;
        background-image: url("https://images.squarespace-cdn.com/content/v1/58b717308419c29dd0415e67/1581054956804-4XU9OUE2SW9FJTN7AJ8L/ke17ZwdGBToddI8pDm48kOiNTL2aEepEU1vKUp_FwxNZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIzST_7qft387HawYHaOJ0bc3dyVQsvDM_jzQfDBoL4PY/Running.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
      }
      .footer {
        background-color: darkmagenta;
        color: black;
        text-align: center;
        position: relative;
        margin-top: 2.5%;
      }
    </style>
    <%- body %>
    <div class="footer">
      <u>PORTFOLIO WEBSITE | AMARI JAMES | 2021</u>
    </div>
  </body>
  
</html>